{% extends 'front.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" id="animatedTextBackground" >
        <h1 id="animatedTextHeading">Tunisie<br>Telecom</h1>
    </div>
{% endblock %}


