{% extends 'front.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div style="text-align: right; margin-right: 60px">
    <h1>إعادة تعيين كلمة المرور</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                أدخل عنوان بريدك الإلكتروني وسنرسل لك
                لإعادة تعيين كلمة المرور الخاصة بك.
            </small>
        </div>

        <button class="btn btn-primary">إرسال بريد إلكتروني</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
