<form method="post" action="{{ path('app_employees_delete', {'id': employee.id}) }}" onsubmit="return confirm('هل أنت واثق من هذا الإختيار ؟');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="btn">حذف العون</button>
</form>
