{% extends 'base.html.twig' %}

{% block title %}Edit Employees{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center align-self-center ms-auto"></div>
        <div class="col-md-6 text-end">
            <img src="assets/img/R.png" style="width: 300px;" alt="logo"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-end">
            <p style="margin-right: 55px;"><em><span style="color: rgb(0, 0, 0); background-color: transparent;">الشركة الوطنية للاتصالات&nbsp; &nbsp;</span></em><br></p>
            <p style="margin-right: 55px;"><em><span style="color: rgb(0, 0, 0); background-color: transparent;">الإدارة الجهوية للاتصالات بجندوبة</span></em><br></p>
            <p style="margin-right: 55px;"><em><span style="color: rgb(0, 0, 0); background-color: transparent;">الهيكل: وحدة التصرف في الخدمات</span></em><br></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center"><br><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">ايام الراحة الاسبوعية والاعياد الرسمية</span></strong><br></h5>
        </div>
    </div>
</div>
<div class="container fw-light" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-6 text-end align-self-baseline m-auto"></div>
        <div class="col-md-6">
            <p style="text-align: right;"><strong><span style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">الشهر</span></strong><span style="color: rgb(0, 0, 0); background-color: transparent;">: </span><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">جوان 2022</span></strong><br></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-end">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">الاعمال المنجزة</span></strong><br></th>
                        <th><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">تاريخ العيد الرسمي</span></strong><br></th>
                        <th><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">تاريخ الراحة الاسبوعية</span></strong><br></th>
                        <th><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">الخطة</span></strong><br></th>
                        <th><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">الاسم واللقب</span></strong><br></th>
                        <th><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">الرقم الترتيبي</span></strong><br></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>travaux</td>
                        <td>date Eid</td>
                        <td>date repos</td>
                        <td>Plan</td>
                        <td>nom et prenom</td>
                        <td>matricule</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="text-center"><br><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">الامضاء: رئيس وحدة التصرف في الخدمات بجندوبة</span></strong><br></p>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class="container" style="width: 1081px;">
    <div class="row" style="height: 271px;">
        <div class="col-md-12"></div>
    </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}