{% extends 'base.html.twig' %}

{% block title %}New Employees{% endblock %}

{% block body %}
<div class="col-md-6 offset-md-5" style="align-content: center;">
    <h1>إضافة عون جديد</h1>
    <a href="{{ path('app_employees_index') }}">
    <button class="btn btn-primary" type="button" style="background: var(--bs-cyan);">
        <i class="fas fa-arrow-circle-left"></i> العودة للقائمة </button></a>

    {{ include('employees/_form.html.twig') }}
    </div>
{% endblock %}
